---
import type { ThemeColor } from '@/types/ThemeColor';

interface Props {
  isOpening?: boolean; // Opening Animation
  color?: ThemeColor;
}
const { isOpening = false, color } = Astro.props;
---

<div
  class="ts-page-loader fixed left-0 top-0 z-50 h-dvh w-screen bg-transparent backdrop-blur transition-all duration-700 data-[color=bright]:bg-gray-texture data-[color=dark]:bg-mine-shaft-texture [&.is-hidden]:invisible [&.is-hidden]:bg-transparent [&.is-hidden]:opacity-0"
  data-opening={isOpening ? 'true' : 'false'}
  data-color={color}
>
</div>

<script>
  import loading from './loading';
  loading();
</script>
