---
interface Props {
  isOpening?: boolean; // Opening Animation
}
const { isOpening = false } = Astro.props;
---

<div
  class="ts-page-loader w-screen h-dvh
bg-transparent backdrop-blur fixed
top-0 left-0 z-50 transition-all duration-700
[&.is-hidden]:opacity-0 [&.is-hidden]:invisible"
  data-opening={isOpening ? 'true' : 'false'}
>
</div>

<script>
  import loading from './loading';
  loading();
</script>
