---
import Layout from '@/layouts/Layout.astro';
const title = '医療従事者サイト';
---

<Layout title={title}>
  <section class="pt-[var(--header-height)] h-screen box-content">
    <div class="flex whitespace-nowrap">
      <section>
        <h1>
          <span>医療従事者サイト</span>
          <span>Private Works </span>
        </h1>

        <div class="">
          <p>
            <span>Role</span>
            <span>Art Direction, Web Design</span>
          </p>

          <p>
            <span>Year</span>
            <span>2023</span>
          </p>
        </div>
      </section>

      <picture>
        <img src="https://placehold.jp/1600x1080.png" alt="" />
      </picture>

      <p>SCROLL</p>

      <section>
        <div>
          <h2>(Overview)</h2>
          <p>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </p>
          <p>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </p>

          <p>
            <span>URL</span>
            <a
              href="https://taikisato.com/"
              target="_blank"
              rel="noopener noreferrer">https://taikisato.com/</a
            >
          </p>
        </div>
        <picture>
          <img src="https://placehold.jp/1080x1080.png" alt="" />
        </picture>
      </section>

      <section>
        <h2>(Description)</h2>

        <dl>
          <dt>ターゲット</dt>
          <dd>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </dd>
        </dl>

        <dl>
          <dt>目的</dt>
          <dd>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </dd>
        </dl>

        <dl>
          <dt>情報設計</dt>
          <dd>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </dd>
        </dl>

        <dl>
          <dt>デザイン</dt>
          <dd>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </dd>
        </dl>

        <dl>
          <dt>制作範囲・期間</dt>
          <dd>
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </dd>
        </dl>
      </section>

      <ul>
        <li>
          <picture>
            <img src="https://placehold.jp/824x840.png" alt="" />
          </picture>
        </li>

        <ul>
          <li>
            <picture>
              <img src="https://placehold.jp/640x400.png" alt="" />
            </picture>
          </li>

          <li>
            <picture>
              <img src="https://placehold.jp/640x400.png" alt="" />
            </picture>
          </li>
        </ul>

        <li>
          <picture>
            <img src="https://placehold.jp/824x840.png" alt="" />
          </picture>
        </li>
      </ul>

      <section>
        <p>(NEXT PROJECT)</p>
        <h2>タイトル名タイトル名タイトル名タイトル名タイトル名</h2>

        <picture>
          <a
            href="/"
            aria-label="タイトル名タイトル名タイトル名タイトル名タイトル名を見る"
          >
            <img
              src="https://placehold.jp/895x1080.png"
              alt="タイトル名タイトル名タイトル名タイトル名タイトル名を見る"
            />
          </a>
        </picture>
      </section>
    </div>
  </section>
</Layout>
