---
import Layout from '@/layouts/Layout.astro';
import DetailSection from '@/components/DetailSection.astro';
import DescriptionList from '@/components/DescriptionList.astro';
import DetailImage from '@/components/DetailImage.astro';
import Scroll from '@/components/Scroll.astro';
import Stalker from '@/components/Stalker';
import Video from '@/components/Video.astro';
import updatePath from '@/libs/updatePath';
const title = '繊維メーカーサイト';
---

<Layout title={title} isContainer={false}>
  <Scroll />

  <section
    id="horizontal-scroll"
    class="md:h-screen pt-[var(--header-height)] md:pt-0 w-full container md:px-20"
  >
    <div
      id="horizontal-scroll-container"
      class="md:flex md:items-center md:flex-nowrap md:whitespace-nowrap w-full md:w-max md:h-full md:[&>*]:h-full"
    >
      <section
        class="ts-horizontal-scroll-item md:mr-[41rem]
      flex flex-col justify-end items-start md:pb-[7.5rem]
      mt-28 md:mt-0 px-5 md:px-0"
      >
        <h1 class="md:w-1/2 flex flex-col gap-4">
          <span class="text-[2rem] md:text-5xl font-semibold">{title}</span>
          <span class="font-serif-en md:text-lg">PRIVATE WORKS</span>
        </h1>

        <div
          class="md:w-1/2 mt-16 md:mt-24 flex flex-col md:flex-row gap-4 md:gap-20"
        >
          <p class="flex flex-col gap-2">
            <span class="text-gray">ROLE</span>
            <span>ART DIRECTION, WEB DESIGN</span>
          </p>

          <p class="flex flex-col gap-2">
            <span class="text-gray">YEAR</span>
            <span>2023</span>
          </p>
        </div>
      </section>

      <picture class="ts-horizontal-scroll-item mt-9 md:mt-0
      block">
        <img
          src="https://placehold.jp/1600x1080.png"
          alt=""
          class="ts-image-white-in h-full"
        />
      </picture>

      <DetailSection title="(Overview)">
        <div class="md:text-lg flex flex-col gap-4">
          <p>
            自主制作として、繊維メーカーのWebデザインを制作しました。<br />
            高品質な製品で人体や環境に配慮され、世界シェアでもトップを誇る繊維メーカーの企業を設定し、そちらの提案としてWebサイトのアートディレクションとデザインを行いました。
          </p>

          <p class="flex gap-4 md:gap-12 font-serif-en mt-12">
            <span class="text-gray">URL</span>
            <a
              class="underline"
              href="https://taikisato.com/"
              target="_blank"
              rel="noopener noreferrer">https://taikisato.com/</a
            >
          </p>
        </div>
      </DetailSection>

      <picture class="ts-horizontal-scroll-item">
        <img
          src="https://placehold.jp/1080x1080.png"
          alt=""
          class="ts-image-white-in h-full"
        />
      </picture>

      <DetailSection title="(Description)" contentWidth="wide">
        <DescriptionList>
          <span slot="title">ターゲット</span>
          <span slot="description"
            >自動車業界において部品の設計・製造担当者、求職者など</span
          >
        </DescriptionList>
        <DescriptionList>
          <span slot="title">目的</span>
          <span slot="description"
            >企業としての取り組みや想いを伝え、知名度、信用度を向上させるため</span
          >
        </DescriptionList>
        <DescriptionList>
          <span slot="title">情報設計</span>
          <span slot="description"
            >ユーザーに対して企業の強みを訴求できるように、企業の特長ページへの遷移導線をファーストビューに設置しています。<br
            />
            トップでは重要なところに動画やモーションなども使用することでユーザーの視線いくように設計しております。<br
            />
            また、製品詳細やソリューションページでは詳細な情報も見やすく迷わないようにアンカーリンクを設けるなど、ユーザーが使いやすく見やすい設計を意識しております。</span
          >
        </DescriptionList>
        <DescriptionList>
          <span slot="title">デザイン</span>
          <span slot="description"
            >製品だけではなくその人体や環境に配慮された製品が紡いでいく”未来”といったところを表現する「繊維が紡ぐ人と地球の未来」というコンセプトを策定しました。<br
            />
            このコンセプトをもとにクリアで洗練されたような印象を与えるデザインに展開し、グラデーションやトーンの高い画像などで未来を表現しました。<br
            />
            環境に配慮された地球であったり紡がれていく繋がりの表現として円を、繊維のモチーフとして線を活用し、らしさのあるデザインを意識しました。</span
          >
        </DescriptionList>
        <DescriptionList>
          <span slot="title">制作範囲</span>
          <span slot="description">Webデザイン/Web構成要素</span>
        </DescriptionList>
      </DetailSection>

      <div class="ts-horizontal-scroll-item">
        <div class="md:py-[7.5rem] h-full px-5 md:px-0">
          <DetailImage>
            <li>
              <video controls muted loop>
                <source src={updatePath('/sample-5s.mp4')} type="video/mp4" />
              </video>
            </li>
            <li>
              <Video>
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/M7lc1UVf-VE?si=Ug3Er7-fsYQu6bfP"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen></iframe>
              </Video>
            </li>
            <DetailImage column={2}>
              <li>
                <video controls muted loop>
                  <source src={updatePath('/sample-5s.mp4')} type="video/mp4" />
                </video>
              </li>

              <li>
                <picture>
                  <img
                    src="https://placehold.jp/640x400.png"
                    alt=""
                    class="ts-image-white-in"
                  />
                </picture>
              </li>
            </DetailImage>
            <DetailImage column={2}>
              <li>
                <Video>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/M7lc1UVf-VE?si=Ug3Er7-fsYQu6bfP"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </Video>
              </li>

              <li>
                <picture>
                  <img
                    src="https://placehold.jp/640x400.png"
                    alt=""
                    class="ts-image-white-in"
                  />
                </picture>
              </li>
            </DetailImage>
            <DetailImage column={2}>
              <li>
                <Video>
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/M7lc1UVf-VE?si=Ug3Er7-fsYQu6bfP"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                </Video>
              </li>

              <li>
                <video controls muted loop>
                  <source src={updatePath('/sample-5s.mp4')} type="video/mp4" />
                </video>
              </li>
            </DetailImage>
            <DetailImage column={2}>
              <li>
                <picture>
                  <img
                    src="https://placehold.jp/640x400.png"
                    alt=""
                    class="ts-image-white-in"
                  />
                </picture>
              </li>

              <li>
                <picture>
                  <img
                    src="https://placehold.jp/640x400.png"
                    alt=""
                    class="ts-image-white-in"
                  />
                </picture>
              </li>
            </DetailImage>
            <li>
              <picture>
                <img
                  src="https://placehold.jp/824x840.png"
                  alt=""
                  class="ts-image-white-in"
                />
              </picture>
            </li>
          </DetailImage>
        </div>
      </div>

      <section
        class="ts-horizontal-scroll-item flex justify-end items-end md:pl-[34rem] md:pr-20 box-content"
      >
        <div class="pt-24 md:py-[8.125rem] px-5 md:px-0">
          <p class="md:text-lg font-serif-en">(NEXT PROJECT)</p>
          <h2 class="text-[2rem] md:text-[2.625rem] font-semibold">
            タイトル名タイトル名タイトル名
            <br />
            タイトル名タイトル名
          </h2>
        </div>
      </section>

      <picture class="ts-horizontal-scroll-item block mt-9 md:mt-0">
        <a
          href="/"
          aria-label="タイトル名タイトル名タイトル名タイトル名タイトル名を見る"
          class="ts-crossing-link block h-full relative"
        >
          <img
            src="https://placehold.jp/895x1080.png"
            alt="タイトル名タイトル名タイトル名タイトル名タイトル名を見る"
            class="ts-image-white-in h-full"
          />

          <span
            class="bg-mine-shaft flex md:hidden justify-center items-center absolute bottom-[20px] right-5 rounded-full w-[40px] h-[40px]"
          >
            <svg
              width="14"
              height="10"
              viewBox="0 0 14 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.91412 0.679339C6.91412 0.679339 7.99884 2.63402 8.2563 4.37282L0.731445 4.7742V5.34764L8.24902 5.74902C7.96468 7.46346 6.78603 9.32056 6.78603 9.32056C6.78603 9.32056 10.3661 5.54406 13.6435 5.05602C10.3758 4.56308 6.91412 0.679199 6.91412 0.679199V0.679339Z"
                class="fill-taupe-gray"></path>
            </svg>
          </span>
        </a>
      </picture>
    </div>
  </section>

  <Stalker client:only="react" />
</Layout>

<script>
  import horizontalScroll from '@/libs/horizontalScroll';
  import imageWhiteIn from '@/libs/imageWhiteIn';
  horizontalScroll();
  imageWhiteIn();
</script>
