---
import PageLoader from '@/components/PageLoader/index.astro';
import updatePath from '@/libs/updatePath';
---

<PageLoader isOpening={true} />
<div
  id="opening-bg"
  class="bg-mine-shaft-texture w-screen h-lvh transision-all duration-700
fixed top-0 left-0 z-50
[&.is-hidden]:opacity-0 [&.is-hidden]:invisible"
>
</div>
<section id="hero" class="relative">
  <div id="hero-container">
    <div
      class="overflow-y-hidden bg-mine-shaft-texture contents-full text-silver-chalice py-16 h-lvh flex flex-col justify-center"
    >
      <div
        class="flex flex-col lg:grid lg:grid-cols-3 lg:items-end justify-center"
      >
        <div
          class="relative inline-block overflow-hidden w-72 md:w-[50vw] lg:w-[34rem] h-72 md:h-[50vw] lg:h-[34rem] md:col-start-2 z-0 mx-auto lg:mx-0"
        >
          <canvas id="moon" class="w-full h-full" width="600" height="600"
          ></canvas>
        </div>

        <p class="font-serif-en ml-auto mt-4 lg:m-0 w-96 hidden md:block">
          I am Taiki Sato, a visual designer. <br />I am good at balancing
          logical and intuitive thinking, function and emotion, stillness and
          movement, and seeking and expressing the best visual expression that
          fulfills user needs and objectives.
        </p>
      </div>

      <div
        id="hero-video"
        class="absolute z-0 top-0 left-1/2 -translate-x-1/2
        w-screen h-full overflow-hidden opacity-50
        mix-blend-multiply transision-all duration-700
        is-loading [&.is-loading]:z-50"
      >
        <video
          poster={updatePath('/top/hero/shadow-image.png')}
          webkit-playsinline
          preload="auto"
          playsinline
          muted
          autoplay
          loop
          class="w-full h-full object-cover"
        >
          <source
            src={updatePath('/top/hero/shadow-movie.mp4')}
            type="video/mp4"
          />
        </video>
      </div>

      <p class="mt-14 font-serif-en md:text-xl">
        WEB DESIGN / GRAPHIC DESIGN / ART DIRECTION
      </p>

      <h1
        class="flex items-end justify-between md:justify-normal gap-4 md:gap-10 mt-3 md:mt-0"
      >
        <picture
          id="hero-logo"
          class="relative max-w-[19.6rem] md:max-w-[85rem] flex-1 is-loading [&.is-loading]:z-50"
        >
          <source
            srcset={updatePath('/top/hero/fv-moving.png')}
            media="(min-width: 768px)"
          />
          <img
            src={updatePath('/top/hero/fv-moving-sp.png')}
            alt="TAIKI SATO"
          />
        </picture>

        <span class="inline-flex flex-col vertical-rl text-taupe-gray">
          <span
            class="font-serif-en text-sm md:text-lg leading-none whitespace-pre-line"
          >
            <span>(PORTFOLIO)</span>
          </span>
          <span
            class="font-medium text-[2rem] md:text-5xl leading-none whitespace-pre-line"
          >
            <span>作品集</span>
          </span>
        </span>
      </h1>
    </div>

    <div
      class="scroll-nav w-[1px] h-[17.5rem] bg-emperor absolute bottom-[5px] right-0 z-0 hidden md:block"
    >
      <div class="relative w-full h-full">
        <div
          class="scroll-nav__inside w-full h-10 bg-silver-chalice absolute top-0 left-0"
        >
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import loading from './loading';
  import animation from './animation';
  loading();
  animation();
</script>

<style lang="scss">
  video {
    &::-webkit-media-controls-panel {
      display: none !important;
      -webkit-appearance: none;
    }

    &:state(webkit-media-controls-play-button) {
      display: none !important;
      -webkit-appearance: none;
    }

    &::-webkit-media-controls-start-playback-button {
      display: none !important;
      -webkit-appearance: none;
    }
  }

  .scroll-nav__inside {
    animation: scrollNav 5s infinite;
  }

  @keyframes nextMaskText {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  @keyframes scrollNav {
    0% {
      top: 0;
      opacity: 1;
    }
    40% {
      top: 50%;
      opacity: 0.5;
    }
    80% {
      top: 100%;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 0;
    }
  }
</style>
