<div
  id="cursor"
  class="cursor rounded-full w-2 h-2 pointer-events-none absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 bg-silver z-[999]"
>
</div>
<div
  id="follower"
  class="follower rounded-full w-10 h-10 pointer-events-none absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 border-emperor bg-mine-shaft z-[999] transition-all duration-200 ease-linear mix-blend-overlay"
>
  <div class="w-full h-full relative rounded-full">
    <span
      class="follower__text vertical-rl text-taupe-gray font-medium leading-none absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 invisible transition-all"
      aria-hidden="true"
    >
      <span>見る</span>
    </span>
  </div>
</div>

<style>
  .cursor {
    &.is-active {
      opacity: 0;
      visibility: hidden;
    }
  }

  .follower {
    &.is-active {
      mix-blend-mode: normal;
      width: 5rem;
      height: 5rem;

      .follower__text {
        opacity: 1;
        visibility: visible;
      }
    }

    &.is-bg-bright {
      background-color: #dededa;

      .follower__text {
        color: #3d3d3d;
      }
    }
  }
</style>

<script>
  import stalker from './stalker';
  stalker();
</script>
