---
import LayoutTop from '@/layouts/LayoutTop.astro';
import Hero from '@/components/Hero/index.astro';
import ParallaxGallery from '@/components/ParallaxGallery/index.astro';
import WorksGallery from '@/components/WorksGallery/index.astro';
---

<LayoutTop>
  <Hero />

  <ParallaxGallery />

  <WorksGallery />

  <div class="h-screen bg-gray-texture"></div>
</LayoutTop>
