---
import LayoutTop from '@/layouts/LayoutTop.astro';
import Hero from '@/components/Hero/index.astro';
import ParallaxGallery from '@/components/ParallaxGallery/index.astro';
---

<LayoutTop>
  <Hero />

  <ParallaxGallery />

  <div class="h-screen"></div>
</LayoutTop>
