---
import headerLinks from '@/data/headerLinks';
import Disc from '@/components/Disc.astro';
import Menu from '@/components/Header/Menu.astro';
const path = Astro.url.pathname;
---

<header>
  <div class="container flex items-start py-5 md:py-10 px-5 md:px-20">
    <a href="/" class="font-serif-en text-2xl md:text-4xl text-gray"
      >TAIKI SATO</a
    >

    <ul class="ml-auto gap-8 hidden md:flex">
      {
        headerLinks.map(link => (
          <li class="relative">
            {link.href.includes(path) && (
              <span class="w-[6px] h-[6px] absolute -top-4 left-1/2 -translate-x-1/2">
                <Disc />
              </span>
            )}
            <a
              href={link.href}
              class={`text-2xl md:text-lg vertical-rl ${link.href.includes(path) && 'text-gray'}`}
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>

    <button
      class="ts-menu-open font-serif-en border border-silver rounded-[30px] ml-auto md:ml-14 py-[6px] px-4 flex gap-2 items-center"
    >
      <span class="inline-block">Menu</span>
      <Disc />
    </button>
  </div>
</header>

<Menu />

<script>
  import menuToggle from './menu-toggle';
  menuToggle();
</script>
