---
import headerLinks from '@/data/headerLinks';
import Logo from './Logo.astro';
import Disc from '@/components/Disc.astro';
import Menu from '@/components/Header/Menu.astro';
import type { ThemeColor } from '@/types/ThemeColor';
import updatePath from '@/libs/updatePath';
interface Props {
  color?: ThemeColor;
  mixBlendMode?: boolean;
}
const { color, mixBlendMode = false } = Astro.props;
const path = Astro.url.pathname;
---

<header
  id="header"
  class="fixed top-0 left-0 w-screen
  z-30 transition-all group-[header]
  data-[color=dark]:text-pampas"
  data-color={color}
  data-mix-blend-mode={mixBlendMode ? 'true' : 'false'}
>
  <div class="container flex items-start py-5 md:py-10 px-5 md:px-20">
    <a
      href={updatePath('/')}
      class="ts-logo transition-all [&_svg]:fill-silver-chalice hover:opacity-30"
      aria-label="TAIKI SATO"
    >
      <Logo />
    </a>
    <ul
      class="ts-header-list ml-auto gap-8 hidden md:flex
      ease-in-out max-h-[var(--header-list-height)]
      transition-colors group-[header]:data-[color=dark]:text-pampas"
    >
      {
        headerLinks.map(link => (
          <li class="relative">
            {path !== '/' && link.href.includes(path) && (
              <span class="w-[6px] h-[6px] absolute -top-4 left-1/2 -translate-x-1/2">
                <Disc />
              </span>
            )}
            <a
              href={updatePath(link.href)}
              class={`ts-text-link text-2xl md:text-lg vertical-rl ${path !== '/' && link.href.includes(path) && 'text-gray'}`}
              data-vertical="rl"
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>

    <button
      class="ts-menu-open font-serif-en border border-silver
      rounded-[30px] ml-auto md:ml-14 py-[6px] px-4 flex gap-2 items-center
      group transition duration-700 hover:bg-mine-shaft hover:text-pampas
      text-black data-[color=dark]:text-pampas
      data-[color=dark]:hover:bg-pampas data-[color=dark]:hover:text-mine-shaft"
      data-color={color}
    >
      <span class="inline-block">MENU</span>
      <Disc />
    </button>
  </div>
</header>

<Menu />

<script>
  import animation from './animation';
  import menuToggle from './menuToggle';
  animation();
  menuToggle();
</script>

<style>
  .ts-header-list {
    transition: all 0.5s ease-in-out;
  }

  .is-scroll {
    .ts-header-list {
      transform: translateY(-1rem);
      visibility: hidden;
      opacity: 0;
      max-height: 0;
    }
  }
</style>
