---
import headerLinks from '@/data/headerLinks';
import Disc from '@/components/Disc.astro';
import Menu from '@/components/Header/Menu.astro';
interface Astro {
  color?: 'bright' | 'dark';
}
const { color } = Astro.props;
const path = Astro.url.pathname;
---

<header
  id="header"
  class="fixed top-0 left-0 w-screen
  z-30 transition-all group-[header]
  data-[color=bright]:bg-gray-texture
  data-[color=dark]:bg-transparent
  data-[color=dark]:bg-none
  data-[color=dark]:text-pampas"
  data-color={color}
>
  <div class="container flex items-start py-5 md:py-10 px-5 md:px-20">
    <a
      href="/"
      class="ts-text-link ts-logo font-serif-en text-2xl md:text-4xl text-gray
      transision-colors data-[color=dark]:text-silver-chalice"
    >
      TAIKI&nbsp;SATO</a
    >

    <ul
      class="ts-header-list ml-auto gap-8 hidden md:flex
      ease-in-out max-h-[var(--header-list-height)]
      transision-colors group-[header]:data-[color=dark]:text-pampas"
    >
      {
        headerLinks.map(link => (
          <li class="relative">
            {path !== '/' && link.href.includes(path) && (
              <span class="w-[6px] h-[6px] absolute -top-4 left-1/2 -translate-x-1/2">
                <Disc />
              </span>
            )}
            <a
              href={link.href}
              class={`ts-text-link text-2xl md:text-lg vertical-rl ${path !== '/' && link.href.includes(path) && 'text-gray'}`}
              data-vertical="rl"
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>

    <button
      class="ts-menu-open font-serif-en border border-silver
      rounded-[30px] ml-auto md:ml-14 py-[6px] px-4 flex gap-2 items-center
      group transition hover:bg-mine-shaft hover:text-pampas
      data-[color=dark]:hover:bg-pampas data-[color=dark]:hover:text-mine-shaft"
    >
      <span class="inline-block">MENU</span>
      <Disc />
    </button>
  </div>
</header>

<Menu />

<script>
  import animation from './animation';
  import menuToggle from './menuToggle';
  animation();
  menuToggle();
</script>

<style>
  .ts-header-list {
    transition: all 0.5s ease-in-out;
  }

  .is-scroll {
    .ts-header-list {
      transform: translateY(-1rem);
      visibility: hidden;
      opacity: 0;
      max-height: 0;
    }
  }
</style>
