---
import type { Menu } from '@/data/menus';

interface Props {
  menu: Menu;
}

const { menu } = Astro.props;
---

<span class="vertical-rl flex flex-row items-center">
  <span class="horizontal-tb text-taupe-gray">
    <span>
      ({menu.number})
    </span>
  </span>

  <span class="text-pampas text-2xl md:text-[2rem] mt-[1.42rem] md:mt-8"
    >{menu.text}</span
  >

  <span class="h-full flex-1 mt-[1.14rem] md:mt-6 mb-[0.85rem] md:mb-4">
    <span class="w-[1px] bg-emperor h-full block"></span>
  </span>

  <span class="text-silver-chalice font-serif-en text-[0.928rem] md:text-base">
    <span>
      {menu.en}
    </span>
  </span>
</span>
