---
import type { Menu } from '@/data/menus';

interface Props {
  menu: Menu;
}

const { menu } = Astro.props;
---

<span class="flex flex-row items-center vertical-rl">
  <span class="text-taupe-gray horizontal-tb">
    <span>
      ({menu.number})
    </span>
  </span>

  <span class="mt-[1.42rem] text-2xl text-pampas md:mt-8 md:text-[2rem]"
    >{menu.text}</span
  >

  <span class="mb-[0.85rem] mt-[1.14rem] h-full flex-1 md:mb-4 md:mt-6">
    <span class="block h-full w-[1px] bg-emperor"></span>
  </span>

  <span class="font-serif-en text-[0.928rem] text-silver-chalice md:text-base">
    <span>
      {menu.en}
    </span>
  </span>
</span>
