---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<section class="mt-32 md:mt-60">
  <h2 class="mb-9 font-serif-en text-lg text-taupe-gray md:mb-14 md:text-xl">
    ({title})
  </h2>
  <slot />
</section>
