---
import updatePath from '@/libs/updatePath';
---

<div class="flex items-center justify-center md:ml-[7.5rem]">
  <a
    href={updatePath('/works/')}
    class="group mt-12 inline-flex items-center md:mt-0"
  >
    <span
      class="flex h-[1.7rem] w-[1.7rem] items-center justify-center rounded-full border border-black text-black transition-colors duration-700 group-hover:bg-black group-hover:text-white md:h-[2rem] md:w-[2rem]"
      aria-hidden="true"
    >
      <svg
        width="12"
        height="8"
        viewBox="0 0 12 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.07157 7.703C6.07157 7.703 5.14179 6.02754 4.92111 4.53711L11.3711 4.19307L11.3711 3.70154L4.92735 3.35749C5.17107 1.88795 6.18137 0.296124 6.18137 0.296124C6.18137 0.296124 3.11268 3.53318 0.303436 3.9515C3.1044 4.37403 6.07157 7.70312 6.07157 7.70312L6.07157 7.703Z"
          class="fill-current"></path>
      </svg>
    </span>
    <span class="ml-4 md:text-lg">一覧へ戻る</span>
  </a>
</div>
