---
import cn from '@/libs/cn';
interface Props {
  title: string;
  contentWidth?: 'narrow' | 'wide';
}
const { title, contentWidth } = Astro.props;
const contentClass = cn(
  {
    'md:w-[40rem]': !contentWidth || contentWidth === 'narrow',
    'md:w-[60rem]': contentWidth === 'wide',
  },
  'md:px-[13.75rem] box-content'
);
---

<section class="ts-horizontal-scroll-item flex items-center">
  <div class={contentClass}>
    <h2 class="font-serif-en text-xl mb-10">{title}</h2>
    <div class="whitespace-normal">
      <slot />
    </div>
  </div>
</section>
