---
import cn from '@/libs/cn';
interface Props {
  isContainer?: boolean;
  maxW?: boolean;
  isOverflowXHidden?: boolean;
}
const {
  isContainer = true,
  maxW = false,
  isOverflowXHidden = true,
} = Astro.props;

const className = cn(
  {
    container: isContainer,
    'px-[1.4rem]': isContainer,
    'md:px-20': isContainer,
    'mx-auto': !isContainer,
    'overflow-x-hidden': isOverflowXHidden,
  },
  `${maxW && 'md:max-w-[calc(85rem+10rem)]'}`
);
---

<main id="main" class={className}>
  <slot />
</main>
