---
import cn from '@/libs/cn';
interface Props {
  isContainer?: boolean;
}
const { isContainer = true } = Astro.props;

const className = cn({
  container: isContainer,
  'px-5': isContainer,
  'md:px-20': isContainer,
  'overflow-hidden': isContainer,
  'mx-auto': !isContainer,
});
---

<main id="main" class={className}>
  <slot />
</main>
