---
import cn from '@/libs/cn';
interface Props {
  isContainer?: boolean;
  maxW?: boolean;
}
const { isContainer = true, maxW = false } = Astro.props;

const className = cn(
  {
    container: isContainer,
    'px-5': isContainer,
    'md:px-20': isContainer,
    'mx-auto': !isContainer,
  },
  `${maxW && 'md:max-w-[calc(1360px+10rem)]'}`
);
---

<main id="main" class={className}>
  <slot />
</main>
