---
import type { ThemeColor } from '@/types/ThemeColor';
interface Props {
  href: string;
  color: ThemeColor;
}

const { href, color } = Astro.props;
---

<a
  href={href}
  class="ts-more inline-block font-serif-en md:text-lg leading-none
border rounded-[50%] py-5 md:py-6 px-10 md:px-12 transition-colors duration-1000
data-[color='bright']:border-silver-chalice data-[color='bright']:text-pampas
data-[color='dark']:border-gray data-[color='dark']:text-black"
  data-color={color}
>
  MORE
</a>
