---
interface Props {
  href: string;
  color: 'dark' | 'bright';
}

const { href, color } = Astro.props;
---

<a
  href={href}
  class="inline-block font-serif-en text-lg leading-none
border rounded-[50%] py-6 px-12
data-[color='bright']:border-silver-chalice data-[color='bright']:text-pampas
data-[color='dark']:border-gray data-[color='dark']:text-black"
  data-color={color}
>
  MORE
</a>
