---
import type { ThemeColor } from '@/types/ThemeColor';
import updatePath from '@/libs/updatePath';
interface Props {
  href: string;
  color: ThemeColor;
}

const { href, color } = Astro.props;
---

<a
  href={updatePath(href)}
  class="ts-more group relative inline-block overflow-hidden rounded-[50%] border px-10 py-5 font-serif-en leading-none transition-colors duration-[0.6s] data-[color='bright']:border-silver-chalice data-[color='dark']:border-gray data-[color='bright']:text-pampas data-[color='dark']:text-black data-[color='bright']:hover:border-black data-[color='dark']:hover:border-pampas data-[color='bright']:hover:text-black data-[color='dark']:hover:text-pampas md:px-12 md:py-6 md:text-lg"
  data-color={color}
>
  <span
    class="absolute left-1/2 top-1/2 z-0 h-0 w-0 -translate-x-1/2 -translate-y-1/2 rounded-[50%] transition-all duration-[0.6s] group-hover:h-full group-hover:w-full data-[color='bright']:bg-pampas data-[color='dark']:bg-black"
    data-color={color}></span>
  <span class="relative z-0">MORE</span>
</a>
