<div
  id="scroll"
  class="fixed right-0 top-0 z-20 hidden h-screen items-center font-serif-en text-pampas mix-blend-difference transition-all duration-700 md:inline-flex [&.is-invisible]:invisible [&.is-invisible]:-translate-y-3 [&.is-invisible]:opacity-0"
>
  <p>SCROLL</p>
  <div class="scroll__nav ml-4 h-[1px] w-16 bg-silver">
    <div class="relative h-full w-full">
      <div
        class="scroll__inside absolute right-0 top-0 h-full w-4 bg-pampas mix-blend-difference"
      >
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .scroll__inside {
    animation: scrollNav 3s infinite;
  }

  @keyframes scrollNav {
    0% {
      right: 0;
      opacity: 1;
    }
    80% {
      right: 100%;
      opacity: 0;
    }
    100% {
      right: 0;
      opacity: 0;
    }
  }
</style>

<script>
  // 1度scrollしたらfadeoutする
  window.addEventListener('scroll', () => {
    const scrollY = window.scrollY;
    const scroll = document.getElementById('scroll');
    const className = 'is-invisible';
    if (scrollY > 0) {
      scroll?.classList.add(className);
    } else {
      scroll?.classList.remove(className);
    }
  });
</script>
