---
import type { Timeline } from '@/types/Timeline';
interface Props {
  items: Timeline[];
}

const { items } = Astro.props;
---

<div class="ts-drag-scroll w-full relative select-none">
  <ul
    class="ts-drag-scroll-container flex flex-nowrap whitespace-nowrap pt-[calc(0.75rem/2)] overflow-x-scroll md:overflow-x-hidden"
  >
    {
      items.map(item => {
        return (
          <li class="flex flex-col gap-6 relative pr-24 pt-6 border-t border-emperor">
            <span class="block rounded-full bg-taupe-gray w-3 h-3 absolute -top-[calc(0.75rem/2)] left-0" />
            <time
              datetime={item.date}
              class="text-taupe-gray font-serif-en md:text-lg"
            >
              {item.date}
            </time>
            <p class="text-silver-chalice w-[50vw] md:w-72 whitespace-normal">
              {item.description}
            </p>
          </li>
        );
      })
    }
  </ul>
</div>

<script>
  import dragScroll from './dragScroll';
  dragScroll();
</script>
