---
import TopTitle from '../TopTitle.astro';
import More from '../More.astro';
import parallaxGalleryItems from '@/data/parallaxGalleryItems';
import Item from './Item.astro';
---

<section id="parallax-gallery">
  <div
    class="contents-full text-pampas relative py-[4.6rem] md:py-44 h-screen overflow-hidden"
  >
    <div class="bg-mine-shaft-texture absolute top-0 left-0 w-full h-full">
    </div>

    <div class="flex justify-between">
      <ul class="flex-1 flex flex-col items-start">
        {parallaxGalleryItems.left.map(item => <Item item={item} />)}
      </ul>

      <ul class="flex-1 flex flex-col items-end">
        {parallaxGalleryItems.right.map(item => <Item item={item} />)}
      </ul>
    </div>

    <div
      class="flex flex-col justify-center items-center w-screen h-screen
      absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20"
    >
      <div class="text-taupe-gray">
        <TopTitle
          sub="（私について）"
          title={['これまでのこと', '嗜好と思考の話']}
          href="/about"
        />
      </div>

      <div class="mt-16 md:mt-[5.5rem]">
        <More color="bright" href="/about" />
      </div>
    </div>
  </div>
</section>

<script>
  import animation from './animation';
  animation();
</script>
