---
import TopTitle from '../TopTitle.astro';
import More from '../More.astro';
import parallaxGalleryItems from '@/data/parallaxGalleryItems';
import Item from './Item.astro';
---

<section id="parallax-gallery">
  <div
    class="relative h-screen overflow-hidden py-[4.6rem] text-pampas contents-full md:py-44"
  >
    <div class="absolute left-0 top-0 h-full w-full bg-mine-shaft-texture">
    </div>

    <div class="flex justify-between">
      <ul class="flex flex-1 flex-col items-start">
        {parallaxGalleryItems.left.map(item => <Item item={item} />)}
      </ul>

      <ul class="flex flex-1 flex-col items-end">
        {parallaxGalleryItems.right.map(item => <Item item={item} />)}
      </ul>
    </div>

    <div
      class="absolute left-1/2 top-1/2 z-20 flex h-screen w-screen -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center"
    >
      <div class="text-taupe-gray">
        <TopTitle
          sub="（私について）"
          title={['これまでのこと', '嗜好と思考の話']}
          href="/about"
        />
      </div>

      <div
        class="ts-focus-in mt-16 data-[active='true']:animate-text-focus-in md:mt-[5.5rem]"
      >
        <More color="bright" href="/about" />
      </div>
    </div>
  </div>
</section>

<script>
  import animation from './animation';
  animation();
</script>
